.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #c5c5c5;
  color: black;
  font-weight: 600;
  padding-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: black !important;
  /* text-decoration-color: #24292e; */
  /* background-color: #24292e; */
  margin-right: 20px;
  cursor: pointer;
}
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
